.container {
  width: 600px;
  height: 912px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  list-style: none;
  /* height: calc(100vh - 604px); */
  height: 464px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  background-color: #2f2f37;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.item {
  display: flex;
  align-items: center;
  width: 568px;
  justify-content: space-between;
}

.element {
  width: 536px;
}

.result {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.icon {
  display: flex;
  background-size: cover;
  width: 33px;
  height: 33px;
  align-items: center;
  justify-content: center;
}
